/* CSS Reset  */
body{
    font-family: 'Baloo Bhaina 2', cursive;
    background: url("https://images.pexels.com/photos/841128/pexels-photo-841128.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 1600px;
    background-repeat: no-repeat;
}
.left img{
    width: 128px;
}
.left{
    font-size: 25px;
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 18px;
}
.mid{
    display:block;
    width: 60%;
    margin: 20px auto;
    /* border: 2px solid green; */
    top: 20px;
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 50px 35px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(47, 67, 196);

}
.btn{
    font-family: 'Baloo Bhaina 2', cursive;
    margin : 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border : 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(131, 115, 115);
}
.container{
    /* border: 2px solid green; */
    margin: 60px 60px;
    padding: 75px;
    width:33%;
    border-radius: 28px;
    border: 2px solid white;
}
.form-group input{
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    display:block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 74%;
    margin: 20px auto;
}
